---
import type ParameterTable from "./parameter-table";

interface Props {
	details: ParameterTable[];
}
const { details } = Astro.props;
const inlineCodeRegularExpression = /`([^`]+)`/g;
const parseInlineCode = (description: string): string =>
	description.replace(inlineCodeRegularExpression, "<code>$1</code>");
---

<table>
	<thead>
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{details.map(detail => (
		<tr>
			<td>
				<code>{detail.type}</code>
			</td>
			<td>
				<code>{detail.name}</code>
			</td>
			<td set:html={parseInlineCode(detail.description)}/>
		</tr>
		))}
	</tbody>
</table>
