name: "Dependabot"
on:
  pull_request:
    types:
      - "opened"
    branches:
      - "main"
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  updater:
    name: "Updater"
    runs-on: "ubuntu-latest"
    if: "${{ github.event.pull_request.user.login == 'dependabot[bot]' }}"
    permissions:
      pull-requests: "write"
    steps:
      - name: "Set up repository with the latest commit"
        uses: "actions/checkout@v5.0.0"
      - name: "Fetch metadata from Dependabot"
        id: "metadata"
        uses: "dependabot/fetch-metadata@v2.4.0"
      - name: "Update pull request title"
        env:
          GH_TOKEN: "${{ github.token }}"
        run: |
          ecosystem='${{ steps.metadata.outputs.package-ecosystem }}'
          if [[ "${ecosystem}" == 'dotnet-sdk' || "${ecosystem}" == 'dotnet_sdk' ]]; then
            prefix='build'
            reference='.NET SDK'
          else
            prefix='dependency'
            reference='${{ steps.metadata.outputs.dependency-names }}'
          fi
          if [[ '${{ steps.metadata.outputs.update-type }}' == 'version-update:semver-major' ]]; then
            keyword='upgrade'
          else
            keyword='update'
          fi
          previous_version='${{ steps.metadata.outputs.previous-version }}'
          next_version='${{ steps.metadata.outputs.new-version }}'
          if [[ -z "${previous_version}" || -z "${next_version}" ]]; then
            title="${prefix}: ${keyword} \`${reference}\`"
          else
            title="${prefix}: ${keyword} \`${reference}\` from ${previous_version} to ${next_version}"
          fi
          gh pr edit ${{ github.event.pull_request.number }} --title "${title}"
