name: "Library"
on:
  push:
    branches:
      - "main"
    paths:
      - "*/**.cs"
      - "*/**.csproj"
      - ".editorconfig"
      - "*.props"
      - "global.json"
      - "nuget.config"
      - "*.slnx"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    paths:
      - "*/**.cs"
      - "*/**.csproj"
      - ".editorconfig"
      - "*.props"
      - "global.json"
      - "nuget.config"
      - "*.slnx"
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
env:
  RELEASE_NAME: "${{ github.ref_name }}"
  NUGET_OUTPUT_DIRECTORY: "./artifacts/package/release"
jobs:
  builder:
    name: "Builder"
    runs-on: "ubuntu-latest"
    env:
      IS_PUSH_EVENT_TO_MAIN_BRANCH: "${{ github.event_name == 'push' && contains(github.ref, 'refs/heads/main') }}"
      IS_RELEASE: "${{ startsWith(github.ref, 'refs/tags/v') && github.actor == github.repository_owner }}"
      BUILD_CONFIGURATION: "Release"
    steps:
      - name: "Set up repository with all history"
        uses: "actions/checkout@v6.0.1"
        with:
          fetch-depth: 0
      - name: "Set up .NET SDK"
        uses: "actions/setup-dotnet@v5.0.1"
      - name: "Restore dependencies"
        run: "dotnet restore"
      - name: "Get all changed files"
        id: "csharp-files"
        uses: "tj-actions/changed-files@v47.0.1"
        with:
          files: "**/*.cs"
      - name: "Run formatter for all changed files"
        if: ${{ steps.csharp-files.outputs.any_changed == 'true' }}
        run: |
          dotnet format --include ${{ steps.csharp-files.outputs.all_changed_files }} \
           --no-restore \
           --verify-no-changes
      - name: "Build artifacts"
        run: |
          dotnet build --no-restore \
            --configuration '${{ env.BUILD_CONFIGURATION }}'
      - name: "Run unit tests"
        run: |
          dotnet run --project './libraries/core/tests/unit/Sagitta.Core.UnitTests.csproj' \
            --no-build \
            --configuration '${{ env.BUILD_CONFIGURATION }}'
      - name: "Upload coverage results"
        if: ${{ env.IS_PUSH_EVENT_TO_MAIN_BRANCH == 'true' }}
        uses: "codecov/codecov-action@v5.5.2"
        with:
          files: "./artifacts/coverage/core.xml"
          fail_ci_if_error: true
          override_commit: "${{ github.sha }}"
          token: "${{ secrets.CODECOV_TOKEN }}"
      - name: "Build packages"
        if: ${{ env.IS_RELEASE == 'true' }}
        run: |
          dotnet pack --no-build \
            --configuration '${{ env.BUILD_CONFIGURATION }}' \
            -property:"PackageVersion=${GITHUB_REF_NAME#v}" \
            -property:'PackageReleaseNotes=Please see ${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ github.ref_name }}'
      - name: "Upload artifacts"
        uses: "actions/upload-artifact@v6.0.0"
        if: ${{ env.IS_RELEASE == 'true' }}
        with:
          name: "${{ env.RELEASE_NAME }}"
          path: |
            ${{ env.NUGET_OUTPUT_DIRECTORY }}
            global.json
            nuget.config
  publisher:
    name: "Publisher"
    needs: "builder"
    if: ${{ startsWith(github.ref, 'refs/tags/v') && github.actor == github.repository_owner }}
    runs-on: "ubuntu-latest"
    env:
      NUGET_SEARCH_PATTERN: "*.nupkg"
    steps:
      - name: "Download artifacts"
        uses: "actions/download-artifact@v6.0.0"
        with:
          name: "${{ env.RELEASE_NAME }}"
      - name: "Set up .NET SDK"
        uses: "actions/setup-dotnet@v5.0.1"
      - name: "Publish packages"
        run: |
          dotnet nuget push '${{ env.NUGET_OUTPUT_DIRECTORY }}/${{ env.NUGET_SEARCH_PATTERN }}' \
            --source 'nuget' \
            --api-key '${{ secrets.NUGET_TOKEN }}' \
            --skip-duplicate
          dotnet nuget push '${{ env.NUGET_OUTPUT_DIRECTORY }}/${{ env.NUGET_SEARCH_PATTERN }}' \
            --source 'https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json' \
            --api-key '${{ secrets.GITHUB_TOKEN }}' \
            --skip-duplicate
      - name: "Publish release"
        uses: "softprops/action-gh-release@v2.5.0"
        with:
          generate_release_notes: true
          files: "${{ env.NUGET_OUTPUT_DIRECTORY }}/*"
