name: "Markdown"
on:
  push:
    branches:
      - "main"
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"
  schedule:
    - cron: "0 0 */2 * *"
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
env:
  SEARCH_PATTERN: "**.md"
jobs:
  linter:
    name: "Linter"
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
    runs-on: "ubuntu-latest"
    steps:
      - name: "Set up repository with all history"
        uses: "actions/checkout@v6.0.2"
        with:
          fetch-depth: 0
      - name: "Get all changed files"
        id: "markdown-files"
        uses: "tj-actions/changed-files@v47.0.4"
        with:
          files: "${{ env.SEARCH_PATTERN }}"
      - name: "Run linter for all changed files"
        uses: "DavidAnson/markdownlint-cli2-action@v22.0.0"
        with:
          globs: "${{ steps.markdown-files.outputs.all_changed_files }}"
  link-checker:
    name: "Link checker"
    runs-on: "ubuntu-latest"
    permissions:
      issues: "write"
    env:
      IS_PUSH_EVENT: "${{ github.event_name == 'push' }}"
      IS_PUSH_OR_PULL_REQUEST_EVENT: "${{ github.event_name == 'push' || github.event_name == 'pull_request' }}"
      IS_SCHEDULE_OR_WORKFLOW_DISPATCH_EVENT: "${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}"
    steps:
      - name: "Set up repository with all history"
        if: ${{ env.IS_PUSH_OR_PULL_REQUEST_EVENT == 'true' }}
        uses: "actions/checkout@v6.0.2"
        with:
          fetch-depth: 0
      - name: "Set up repository with the latest commit"
        if: ${{ env.IS_SCHEDULE_OR_WORKFLOW_DISPATCH_EVENT == 'true' }}
        uses: "actions/checkout@v6.0.2"
      - name: "Get all changed files"
        id: "markdown-files"
        if: ${{ env.IS_PUSH_OR_PULL_REQUEST_EVENT == 'true' }}
        uses: "tj-actions/changed-files@v47.0.4"
        with:
          files: "${{ env.SEARCH_PATTERN }}"
      - name: "Run link checker for all changed files"
        if: ${{ env.IS_PUSH_OR_PULL_REQUEST_EVENT == 'true' }}
        uses: "lycheeverse/lychee-action@v2.8.0"
        with:
          args: "${{ steps.markdown-files.outputs.all_changed_files }}"
          fail: true
      - name: "Run link checker for all files"
        if: ${{ env.IS_SCHEDULE_OR_WORKFLOW_DISPATCH_EVENT == 'true' }}
        uses: "lycheeverse/lychee-action@v2.8.0"
        with:
          args: "'**/*.md'"
          fail: true
          failIfEmpty: false
      - name: "Create issue if inaccessible links are found"
        if: ${{ (env.IS_PUSH_EVENT == 'true' || env.IS_SCHEDULE_OR_WORKFLOW_DISPATCH_EVENT == 'true') && failure() }}
        uses: "peter-evans/create-issue-from-file@v6.0.0"
        with:
          title: "Inaccessible Markdown links found"
          assignees: "${{ github.repository_owner }}"
          labels: |
            priority: medium
            status: pending
          content-filepath: "lychee/out.md"
