name: "Shell"
on:
  push:
    branches:
      - "main"
    paths:
      - "**.sh"
      - ".husky/**"
  pull_request:
    paths:
      - "**.sh"
      - ".husky/**"
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  linter:
    name: "Linter"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Set up repository with all history"
        uses: "actions/checkout@v6.0.2"
        with:
          fetch-depth: 0
      - name: "Get all changed files"
        id: "shell-files"
        uses: "tj-actions/changed-files@v47.0.1"
        with:
          files: |
            **.sh
            .husky/**
      - name: "Run linter for all files"
        run: "shellcheck --severity 'style' ${{ steps.shell-files.outputs.all_changed_files }}"
